In [24]:
from sqlalchemy import create_engine, text
import pandas as pd

In [25]:
database_name = 'Metro_Police_Response_Times'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [26]:
engine = create_engine(connection_string)

In [27]:
query = 'WITH daily_call_counts AS (SELECT tencode_desc, zip, precinct, DATE(min_received) AS call_date, COUNT(*) AS call_count FROM police_kpi GROUP BY tencode_desc, precinct, zip, call_date) SELECT police_kpi.zip, police_kpi.precinct, police_kpi.tencode_desc, ROUND(AVG(call_count), 2) AS avg_calls_per_day, ROUND(AVG(dispatch_to_arrival), 0) AS avg_dispatch_to_arrival, ROUND(AVG(received_to_arrival), 0) AS avg_received_to_arrival, ROUND(AVG(received_to_complete), 0) AS avg_received_to_complete, ROUND(AVG(received_to_dispatch), 0) AS avg_received_to_dispatch FROM daily_call_counts JOIN police_kpi ON daily_call_counts.tencode_desc = police_kpi.tencode_desc AND daily_call_counts.zip = police_kpi.zip AND daily_call_counts.precinct = police_kpi.precinct GROUP BY police_kpi.tencode_desc, police_kpi.zip, police_kpi.precinct ORDER BY avg_calls_per_day DESC;'

In [28]:
with engine.connect() as connection:
    police_kpi = pd.read_sql(text(query), con = connection)

police_kpi.head()

,zip,avg_calls_per_day,avg_dispatch_to_arrival,avg_received_to_arrival,avg_received_to_complete,avg_received_to_dispatch
0,37013,61.82,19.0,86.0,176.0,67.0
1,37211,58.62,17.0,70.0,154.0,53.0
2,37203,49.39,12.0,48.0,128.0,36.0
3,37207,48.42,14.0,58.0,145.0,43.0
4,37115,42.85,13.0,58.0,147.0,45.0

In [29]:
# police_kpi.to_csv('police_kpi.csv', index=False)