In [1]:
#from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
TN_census = pd.read_csv('../data/acs2022_5yr_B19001_86000US37189.csv')
TN_census_clean = TN_census[['name','B19001001','B19001002','B19001003','B19001004','B19001005','B19001006','B19001007','B19001008','B19001009','B19001010','B19001011','B19001012','B19001013','B19001014','B19001015','B19001016','B19001017']]
TN_census_clean

,name,B19001001,B19001002,B19001003,B19001004,B19001005,B19001006,B19001007,B19001008,B19001009,B19001010,B19001011,B19001012,B19001013,B19001014,B19001015,B19001016,B19001017
0,United States,125736350,6192080,4743710,4235151,4587937,4701374,4608052,4479480,4465681,4518761,8700174,11528244,16085302,12442523,9024401,11075396,14348087
1,Tennessee,2713635,144639,122212,111419,115858,114639,115755,118563,112751,114744,211329,267360,357378,257232,169567,182209,197980
2,"Davidson County, TN",302663,16412,9418,8738,10533,10101,11093,12015,12406,12257,23897,30572,40128,28621,20349,23356,32767
3,Nashville-Davidson metropolitan government (ba...,291884,15884,9205,8513,10076,9884,10764,11709,12190,11940,23053,29456,39076,27794,19878,22496,29966
4,"Nashville-Davidson--Murfreesboro--Franklin, TN...",772128,31679,20742,21206,24055,24019,25253,28342,29017,29879,57630,75506,107195,84133,58273,70741,84458
5,37013,36255,1627,837,1049,1000,1594,1335,1547,1896,1597,3475,4361,5974,3716,2138,2336,1773
6,37015,7347,156,141,560,217,126,210,355,464,310,558,897,1034,950,551,560,258
7,37027,22708,445,187,164,297,248,282,229,303,94,666,1768,2034,2531,2241,2749,8470
8,37062,4951,77,192,136,67,89,152,119,241,77,216,817,664,767,344,569,424
9,37064,23199,659,351,315,463,498,501,664,768,666,1137,1749,2551,1996,2089,2961,5831
10,37072,13159,672,245,460,654,254,562,504,391,443,1233,1531,1839,1422,779,1266,904
11,37073,5103,135,60,174,194,243,168,212,135,198,388,342,771,718,400,579,386
12,37075,27531,787,412,438,626,579,645,749,839,850,1989,3016,3956,3623,2616,3541,2865
13,37076,17136,758,543,211,820,441,661,414,1151,555,1488,1992,2652,1825,1411,1082,1132
14,37080,3028,204,75,96,112,66,65,119,173,68,150,320,301,571,227,257,224
15,37082,2129,62,49,93,25,59,50,27,93,100,143,112,410,328,253,193,132
16,37086,12449,347,173,279,524,560,456,214,618,594,1136,1407,2326,1992,784,721,318
17,37115,17954,647,1053,798,1035,673,801,983,1131,871,1849,1552,3162,1208,829,875,487
18,37122,23409,505,280,213,226,778,470,255,742,332,1279,1932,3775,2588,2747,3421,3866
19,37135,7240,43,0,38,68,0,50,38,185,35,203,426,1258,916,614,1505,1861
20,37138,9485,291,199,215,182,256,245,262,216,418,927,916,1519,1322,701,769,1047
21,37143,1517,0,0,39,46,58,41,56,52,56,160,141,303,143,159,159,104
22,37172,11574,348,487,443,402,415,490,575,397,764,1243,1138,1557,1242,821,590,662
23,37189,1567,138,0,12,0,23,30,33,37,73,93,169,250,181,74,304,150
24,37201,885,185,0,0,0,0,0,0,0,31,46,13,91,201,57,48,213
25,37203,11834,1232,700,348,605,308,213,344,314,457,1116,1442,1369,914,695,655,1122
26,37204,6935,277,191,169,123,128,114,128,148,111,431,611,766,745,519,729,1745
27,37205,11955,358,387,298,184,231,202,406,135,321,542,472,791,1173,1056,1278,4121
28,37206,12862,1092,352,311,598,351,467,325,584,397,727,949,1145,1306,1115,1298,1845
29,37207,16034,1251,700,589,460,864,664,558,956,813,1164,2120,2556,1036,699,970,634
30,37208,8670,835,452,268,223,513,394,325,239,534,639,875,821,667,473,593,819
31,37209,18570,1201,552,575,526,801,769,793,901,589,1669,1546,2134,1620,1229,1496,2169
32,37210,7344,661,651,243,537,673,344,363,374,225,391,808,750,225,354,297,448
33,37211,30135,2066,797,1001,1306,855,1595,1460,1460,1256,2037,2997,4046,2930,2001,2343,1985
34,37212,6938,333,191,173,350,113,362,260,161,282,425,472,822,344,342,770,1538
35,37213,13,0,0,0,0,0,0,0,0,0,0,0,0,13,0,0,0
36,37214,14475,449,365,312,340,307,783,785,494,806,1018,2074,2692,1161,1055,1152,682
37,37215,10260,285,133,152,150,251,135,234,75,176,833,499,625,1003,673,1097,3939
38,37216,8597,142,147,331,235,224,278,472,265,540,790,894,1195,698,859,786,741
39,37217,12468,861,230,622,406,534,626,713,433,836,1189,1472,1619,1154,770,745,258
40,37218,5945,664,409,212,352,223,234,296,165,180,370,533,824,634,244,223,382
41,37219,1158,0,0,41,0,28,54,93,16,0,147,87,178,235,108,100,71
42,37220,2410,22,22,0,62,0,40,40,57,28,188,77,226,197,243,321,887
43,37221,18787,536,259,392,433,383,314,663,597,953,1241,1800,2223,2395,1851,1878,2869
44,37228,1492,24,91,137,32,35,59,120,33,0,167,235,176,144,12,28,199
45,37232,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46,37238,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
json_data = {
    "release": {
        "id": "acs2022_5yr",
        "name": "ACS 2022 5-year",
        "years": "2018-2022"
    },
    "tables": {
        "B19001": {
            "columns": {
                "B19001001": {
                    "indent": 0,
                    "name": "Total:"
                },
                "B19001002": {
                    "indent": 1,
                    "name": "Less than $10,000"
                },
                "B19001003": {
                    "indent": 1,
                    "name": "$10,000 to $14,999"
                },
                "B19001004": {
                    "indent": 1,
                    "name": "$15,000 to $19,999"
                },
                "B19001005": {
                    "indent": 1,
                    "name": "$20,000 to $24,999"
                },
                "B19001006": {
                    "indent": 1,
                    "name": "$25,000 to $29,999"
                },
                "B19001007": {
                    "indent": 1,
                    "name": "$30,000 to $34,999"
                },
                "B19001008": {
                    "indent": 1,
                    "name": "$35,000 to $39,999"
                },
                "B19001009": {
                    "indent": 1,
                    "name": "$40,000 to $44,999"
                },
                "B19001010": {
                    "indent": 1,
                    "name": "$45,000 to $49,999"
                },
                "B19001011": {
                    "indent": 1,
                    "name": "$50,000 to $59,999"
                },
                "B19001012": {
                    "indent": 1,
                    "name": "$60,000 to $74,999"
                },
                "B19001013": {
                    "indent": 1,
                    "name": "$75,000 to $99,999"
                },
                "B19001014": {
                    "indent": 1,
                    "name": "$100,000 to $124,999"
                },
                "B19001015": {
                    "indent": 1,
                    "name": "$125,000 to $149,999"
                },
                "B19001016": {
                    "indent": 1,
                    "name": "$150,000 to $199,999"
                },
                "B19001017": {
                    "indent": 1,
                    "name": "$200,000 or more"
                }
            },
            "denominator_column_id": "B19001001",
            "title": "Household Income in the Past 12 Months (In 2022 Inflation-adjusted Dollars)",
            "universe": "Households"
        }
    }
}

# Extract the relevant information from the JSON
columns = json_data['tables']['B19001']['columns']
data = {key: value['name'] for key, value in columns.items()}

# Convert to DataFrame
income_data = pd.DataFrame(list(data.items()), columns=['Code', 'Income Range'])
income_data.set_index('Code',inplace=True)
income_data = income_data.transpose()
income_data.insert(0,'name','')
income_data['name'] = ""
income_data

Code,name,B19001001,B19001002,B19001003,B19001004,B19001005,B19001006,B19001007,B19001008,B19001009,B19001010,B19001011,B19001012,B19001013,B19001014,B19001015,B19001016,B19001017
Income Range,,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"

In [4]:
column_names = income_data.to_dict('records')
TN_census_clean.columns = [column_names[0][i] for i in TN_census_clean.columns]
TN_census_clean.columns = ['name'] + list(TN_census_clean.columns[1:])
TN_census_clean.reset_index(drop=False, inplace=True)
TN_census_clean
TN_census_clean.to_csv('TN_census_clean.csv', index=False)